body {
background-color: #29487c;
background: linear-gradient(171deg,#a8bdcb 0%, #6ea5a9 80%);
overflow: hidden;
 
}

.container {
  
  width:40%;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
  height:52em;
  display: flex;  
  flex-direction: column;
  align-items: left;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.51);
  transition:0.5s;
}
.container:hover{
box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.51);
}
.create-employee {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input{
  height:1.5em;
  width:80%;
  margin-left:2em;
}
input:focus{
  border:solid green;
}




label {
  display: flex;   
  filter:brightness(80%);
  margin-left:4em;
  width: auto;
  background-color: transparent; 
  font-size: 1.2em;  
  transition: all 0.4s ease-in;
  
}
.box-input-label {
  display: flex;
  flex-direction: column-reverse;
  gap:1em;
}

button {
  border: solid #8093f1;
  background: linear-gradient(45deg, #7bdfda, #8093f1);
  color: white;
  box-shadow: #8093f1;
  height: 45px;
  width:40%;
  align-self:center;
}



.btn:active {
  transform: scale(1.05, 1.05);
}

