body {

background: linear-gradient(90deg,#c5d3f3 0%, #b6f3eb 120%);
overflow: hidden;

}

.container {
  
  width:40%;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
  height:48em;
  display: flex;  
  flex-direction: column;
  align-items: left;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.51);
  transition:0.5s;
  background: linear-gradient(135deg,#5b89ec 0%, #7de0d3 120%);
  color:white;
}

h1{
  text-align: center;
}
h2{
  
  text-align: center;
}




.create-employee {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.5em;
}
.box-input-label {
  width:80%;
  display: flex;
  flex-direction: row; 
}
input{
  height:1.5em;
  width:80%;
 
}
input:focus{
  border:solid green;
}
.container-datepicker{
  width:100%;
  margin-left:2em;
  
}

.dropdown{
 width:80%}


label {
  display: flex;     
  margin-left:2em;
  width:30%;
  background-color: transparent; 
  font-size: 1.2em;  
  transition: all 0.4s ease-in;
  
}



.btn {		
  border:none;
	position: relative;	
	padding: 1.4rem ;	
	font-size: 1.4rem; 
	color: black;
  background-color: transparent;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
  
}
.button-view-employee{
  position:absolute;
  left:5%;
   width:15em;
}

.btn:before, .btn:after { 
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
 	z-index: 10;
	color:white;
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
border: 1px solid white;
	transition-delay: .35s;
}


.btn:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid white;
	border-left: 0;
	border-right: 0;
}

.btn:after {  	
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
 background: linear-gradient(135deg,#5b89ec 0%, #7de0d3 120%);
}

.btn:hover:before {
	left: 0;
	width: 100%;
}

.btn:hover:after {
	top: 0;
	height: 100%;
}

.container-btn-save{
 display: flex;
 justify-content: center;
}
.save{
 
 
 
}
